* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-family: -apple-system, "system-ui", "Segoe UI Adjusted", "Segoe UI", "Liberations Sans", sans-serif;
  font-weight: 400;
  white-space: nowrap;
  font-size: 11px;
}

.App {
  text-align: center;
  padding-top: 53px;
}

h1 {
  font-size: 27px
}

.active {
  background-color: rgb(246, 127, 29);
  pointer-events: none;
}

.undefined {
  color: rgb(255, 255, 255) !important;
}